In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df= pd.read_csv("/content/drive/MyDrive/GreatEdu/dfTransjakarta.csv")

**Soal 1**

Hitunglah semua Measures of Central Tendency untuk kolom payAmount untuk seluruh transaksi berbayar (tidak gratis)!

In [ ]:
def mode (x):
  return x.mode().iat[0]
df[df['payAmount']>0]['payAmount'].agg(['mean','median', mode])

mean      4919.757965
median    3500.000000
mode      3500.000000
Name: payAmount, dtype: float64

**Soal 2**

Buatlah satu kolom baru umur yang berisi umur penumpang di tahun 2024 ini. Dengan menggunakan groupby & aggregate function atau pivot table, hitunglah mean dan median payAmount dan umur berdasarkan kelompok payCardBank yang digunakan!

In [ ]:
df['Usia'] = 2024-df['payCardBirthDate']
df[df['payAmount']>0].groupby('Usia')['payAmount'].agg(['mean','median'])

             mean  median
Usia
12    8381.418093  3500.0
13    4802.631579  3500.0
14    4886.270492  3500.0
15    5133.663366  3500.0
16    5180.873181  3500.0
...           ...     ...
73    3892.857143  3500.0
75    6800.000000  3500.0
76    3500.000000  3500.0
77    3500.000000  3500.0
78    3500.000000  3500.0

[66 rows x 2 columns]

**Soal 3**

Buatlah beberapa kolom baru:
- num_stop untuk menghitung jumlah pemberhentian (stopEndSeq - stopStartSeq)
- duration untuk menghitung lama perjalanan (tapInTime-tapOutTime)

Kemudian gunakan method corr() pada dataframe (dokumentasi dan contoh penggunaan dapat dilihat pada link berikut) untuk menghitung pearson correlation antara num_stop dan payAmount kemudian berikan penjelasan dari hasil nilai correlation tersebut

In [ ]:
df['tapInTime'] = pd.to_datetime(df['tapInTime'])
df['tapOutTime'] = pd.to_datetime(df['tapOutTime'])
df['numStop'] = df['stopEndSeq'] - df['stopStartSeq']
df['duration'] = df['tapOutTime'] - df['tapInTime']
print('Correlation antara num_stop dan payAmount:',df['duration'].dt.total_seconds().corr(df['numStop']))

Correlation antara num_stop dan payAmount: 0.006553668583187641

**Soal 4**

Buatlah 2 dataframe baru yang berisi 600 sample data dengan kriteria berikut:

A. Sampling menggunakan random sample method sample()

B. Sampling menggunakan stratified sampling untuk kelompok payCardBank, hint : dapat menggunakan kombinasi groupby dan lambda

Kemudian hitung distribusi banyaknya jumlah transaksi (dalam percentage) disetiap kelompok payCardBank untuk dataframe original (sebelum di sampling), hasil random sampling, dan hasil stratified sampling. Dan tuliskan penjelasan apa yang dapat kamu simpulkan dari hasil tersebut

In [ ]:
origin_distribution = df['payCardBank'].value_counts(normalize=True) * 100

random_sample_df = df.sample(n=600, random_state=42)

random_sample_distribution = random_sample_df['payCardBank'].value_counts(normalize=True) * 100

stratified_sample_df = df.groupby('payCardBank', group_keys=False).apply(lambda x: x.sample(n=round(600 * len(x) / len(df)), random_state=42))
stratified_sample_distribution = stratified_sample_df['payCardBank'].value_counts(normalize=True) * 100

print("Distribusi Banyaknya Jumlah Transaksi:")
print(f"Origin Dataframe:\n{origin_distribution}\n\nHasil Random Sampling:\n{random_sample_distribution}\n\nHasil Stratified Sampling:\n{stratified_sample_distribution}")

Distribusi Banyaknya Jumlah Transaksi:
Origin Dataframe:
dki       49.453826
emoney    18.116095
brizzi     9.316623
flazz      8.532982
online     7.569921
bni        7.010554
Name: payCardBank, dtype: float64

Hasil Random Sampling:
dki       48.666667
emoney    16.333333
brizzi    10.000000
online     9.666667
flazz      8.500000
bni        6.833333
Name: payCardBank, dtype: float64

Hasil Stratified Sampling:
dki       49.500000
emoney    18.166667
brizzi     9.333333
flazz      8.500000
online     7.500000
bni        7.000000
Name: payCardBank, dtype: float64